# ---------------------------
# Python & Spark project ignore rules
# ---------------------------

__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/

.idea/
.vscode/
*.iml
/workspace.xml

app_log/
output/
*.log
*.tmp

.DS_Store
Thumbs.db

*.egg-info/
dist/
build/

*.conf
*.env
